<!DOCTYPE html>
{% load static %}

<html>
    <head>
        <title>App</title>

		<!-- Bootstrap -->
		<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
		<script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>

    </head>

    <body>
		<div class="container">
        <h1>Fill in the details</h1>

        <form class="form-horizontal" id="category_form" method="post" action="/app/">
		  

            {% csrf_token %}


            {% for field in form %}
			<div class = "form-group" id= {{field.name|add:"_div"}}>
				<div class="col-md-4">
					{{ field.label }}
				</div>
				<div class="col-md-8">
					 {{ field }}
				</div>
			</div>
				{{ field.errors }}
				
            {% endfor %}

            <input type="submit" name="submit" value="Submit form" />
        </form>
		</div>
		
		<!-- onLoad, hide hidden divs -->
		<script>
		$( document ).ready(function() {
		  $("[id^=W2L]").hide();
		  $("[id^=F1099GL]").hide();
		  $("#Q01_01_div").hide();
		});
		</script>
		
        
        <!-- Known issues: fail to show divs when user press back button --->
		<!-- whenever there are radio box changes-->
		<script>
		$("input:radio").change(function() {
        
			// --- select tax year ---
			// Prior year tax is checked		
			if ($("#id_Q01_1").is(":checked")){
				$("#Q01_01_div").show();
			} else {
				$("#Q01_01_div").hide();			
			}
            
			// --- Tax Treaty Amount ---
			// China is checked
			if ($("#id_Q02_01_0").is(":checked")){
				$("#id_Q02_01_01").val(5000);
			// Mexico is checked
			} if ($("#id_Q02_01_1").is(":checked")){
				$("#id_Q02_01_01").val(3000);			
			}

			// --- Single or Married ---
			// Single is checked
			if ($("#id_Q03_01_0").is(":checked")){
				$("#id_Q03_01_01").val(3900);
				$("#id_Q03_01_02").val(6100);
			// Married is checked
			} if ($("#id_Q03_01_1").is(":checked")){
				$("#id_Q03_01_01").val(7800);
				$("#id_Q03_01_02").val(12200);
			}			
			
		});
		</script>
		
		<!-- whenever there are checkbox changes-->
		<script>
		$("input:checkbox").change(function() {
		

			
			// --- select Source of Income ---
			// W2 is checked
			if ($("#id_Q04_a").is(":checked")){
				$("[id^=W2L]").show();
			} else {
				$("[id^=W2L]").hide();			
			}
			// 1099G is checked
			if ($("#id_Q04_b").is(":checked")){
				$("[id^=F1099GL]").show();
			} else {
				$("[id^=F1099GL]").hide();			
			}
			
		});
		</script>
    </body>
</html>