<!DOCTYPE html>
{% load static %}
{% load crispy_forms_tags %}

<html>
    <head>
        <title>Summary</title>

		<!-- Bootstrap -->
		<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
		<link href="{% static 'css/datepicker.css' %}" rel="stylesheet" media="screen">
		<script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
		<script src="{% static 'js/bootstrap-datepicker.js' %}"></script>

    </head>

    <body>
		<div class="container">
        
        <h2> Post Tax interview questions </h2>
        
        {% crispy form %}
        
		</div> <!--- close container --->
		
        <script>
            $('#id_SCHOILGc').datepicker({ format: "mm/dd/yy" });
            $('#id_SCHOILGd').datepicker({ format: "mm/dd/yy" });
            $('#id_F8843MedicalL17C').datepicker({ format: "mm/dd/yy" });
        </script>
        
        <script>
		$( document ).ready(function() {
		  
          $("#F8843Teachers_fieldset_div").parent().hide();
          $("#F8843Students_fieldset_div").parent().hide();
          $("#F8843Athletes_fieldset_div").parent().hide();
          $("#F8843Medical_fieldset_div").parent().hide();
          
          $("#div_id_F8843StudentsL14").hide();
          
          // Info 3.1 Please enter the person's information
          $("#label_id_INFO3_1").hide();
          $("#div_id_INFOL10").hide();
          $("#div_id_INFOL11").hide();
          $("#div_id_INFOL12").hide();

		});
		</script>
        
        <!-- whenever there are checkbox changes-->
		<script>
		$("input:checkbox, input:radio").change(function() {
            
            // Part II - V
			if ($("#id_F8843Teachers").is(":checked")){
                $("#F8843Teachers_fieldset_div").parent().show();
			} else {
                $("#F8843Teachers_fieldset_div").parent().hide();             
			}
            
			if ($("#id_F8843Students").is(":checked")){
                $("#F8843Students_fieldset_div").parent().show();
			} else {
                $("#F8843Students_fieldset_div").parent().hide();             
			}
            
			if ($("#id_F8843Athletes").is(":checked")){
                $("#F8843Athletes_fieldset_div").parent().show();
			} else {
                $("#F8843Athletes_fieldset_div").parent().hide();             
			}
            
			if ($("#id_F8843Medical").is(":checked")){
                $("#F8843Medical_fieldset_div").parent().show();
			} else {
                $("#F8843Medical_fieldset_div").parent().hide();             
			}
            
            // L14
			if ($("#id_F8843StudentsL13_1").is(":checked")){
                $("#div_id_F8843StudentsL14").show();
			} else {
                $("#div_id_F8843StudentsL14").hide();             
			}
            
			if ($("#id_INFOL09_1 ").is(":checked")){
                $("#label_id_INFO3_1").show();
                $("#div_id_INFOL10").show();
                $("#div_id_INFOL11").show();
                $("#div_id_INFOL12").show();           
			} else {
                $("#label_id_INFO3_1").hide();
                $("#div_id_INFOL10").hide();
                $("#div_id_INFOL11").hide();
                $("#div_id_INFOL12").hide();           
			}
             
		});
		</script>
    </body>
</html>